@font-face {
  font-family: 'Minecraft-Regular';
  src: url('fonts/Minecraft-Regular.eot');
  src: url('fonts/Minecraft-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Minecraft-Regular.svg#Minecraft-Regular') format('svg'),
       url('fonts/Minecraft-Regular.ttf') format('truetype'),
       url('fonts/Minecraft-Regular.woff') format('woff'),
       url('fonts/Minecraft-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    color: #cacaca;
    font-family: 'Minecraft-Regular';
    margin: 0;
    padding: 20px;
    background-color: #181818;
}

a{
  color: #f57c00;
  text-decoration: none;
}
